.garage-cardetails-footer1 {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 5vh;
    background-color: rgb(233, 233, 233);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}

.garage-cardetails-footer2 {
    position: absolute;
    bottom: 0;
    width: 50%;
	left: 11.5vh;
    height: 5vh;
    background-color: rgb(233, 233, 233);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}

.garage-cardetails-footer1:hover {
    background-color: rgb(212, 212, 212);
}
.garage-cardetails-footer2:hover {
    background-color: rgb(212, 212, 212);
}
